#Cotert{
    margin-top: 70px; 
    background-color: honeydew;
}
#Gamp{
    display: none;
}
#Cotert2{
    padding: 15px;
    font-size: 13px;
}

.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

label{
    font-size: 15px;
}

.responstable {
    margin: 1em 0;
    width: 50%;
    overflow: hidden;
    background: #fff;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167f92;
    margin-left: auto;
    margin-right: auto;
  }
  .responstable tr {
    border: 1px solid #d9e4e6;
  }
  .responstable tr:nth-child(odd) {
    background-color: #eaf3f3;
  }
  .responstable th {
    display: none;
    border: 1px solid #fff;
    background-color: #167f92;
    color: #fff;
    padding: 1em;
  }
  .responstable th:first-child {
    display: table-cell;
    text-align: right;
  }
  .responstable th:nth-child(2) {
    display: table-cell;
  }
  .responstable th:nth-child(2) span {
    display: none;
  }
  .responstable th:nth-child(2):after {
    content: attr(data-th);
  }
  @media (min-width: 480px) {
    .responstable th:nth-child(2) span {
      display: block;
    }
    .responstable th:nth-child(2):after {
      display: none;
    }
  }
  .responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
  }
  .responstable td:first-child {
    display: table-cell;
    text-align: right;
    border-right: 1px solid #d9e4e6;
  }
  @media (min-width: 480px) {
    .responstable td {
      border: 1px solid #d9e4e6;
    }
  }
  .responstable th,
  .responstable td {
    text-align: left;
    margin: 0.5em 1em;
  }
  @media (min-width: 480px) {
    .responstable th,
    .responstable td {
      display: table-cell;
      padding: 1em;
    }
  }
  